
.vs/SystemAdmin/FileContentIndex/41f85bd1-db89-4eea-a98f-6142fbdd1e0d.vsidx
.vs/SystemAdmin/FileContentIndex/45df7df9-d164-418b-ad51-09108ad20b0e.vsidx
.vs/SystemAdmin/FileContentIndex/7b962f04-9d4b-4fa7-b128-763b6c8f2e2b.vsidx
.vs/SystemAdmin/FileContentIndex/92d01f26-c66b-4d61-bcc6-db6f49379e77.vsidx
*.vsidx
/.vs
*.htm
