
@font-face {
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Muli-Regular.ttf);
}

@font-face {
    font-family: Muli;
    font-style: italic;
    font-weight: normal;
    src: url(../fonts/Muli-Italic.ttf);
}

@font-face {
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/Muli-Bold.ttf);
}

@font-face {
    font-family: Muli Black;
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/Muli-Black.ttf);
}

@font-face {
    font-family: Muli;
    font-style: italic;
    font-weight: bold;
    src: url(../fonts/Muli-BoldItalic.ttf);
}

body {
   /* font-family: Muli;*/
    font-size: 14px;
    /*font-weight: 600;*/
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

.input-small {
    width: auto !important;
    height: 22px;
}

.btn {
    padding: 10px;
    margin-left: -4px;
    text-decoration: none;
}

    .btn:hover {
        cursor: pointer;
    }

    .btn.red {
        margin-left: 0px;
    }

.form-control {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

/*p {
    font-size: 18px;
}*/

/*ul li {
    font-size: 18px;
}*/

input[type="file"] {
    display: block;
}

.bullets {
    height: 10px;
    width: 10px;
    background: #fff;
    display: inline-block;
    margin-right: 5px;
    border-radius: 100%;
}

p {
    text-align: justify;
    /*margin-left:5%;
      margin-right:5%*/
}

.revised {
    display: inherit;
    background: #d2ab67;
    color: #fff;
    padding: 4px 10px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.btnUpload {
    margin-top: -5px;
    border-radius: 4px;
}

.coverFooter1 {
    display: none;
}

.tableContents {
    text-transform: uppercase;
    margin-left: 20px;
}

    .tableContents li {
        font-size: 26px;
        margin-top: 15px;
        font-weight: bold;
    }

.pMargin p {
    margin: 0px 0px 5px 0px;
    font-size: 12px;
}

.table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

    .table tr td {
        border: 1px solid #9f9f9f;
        padding: 4px 5px;
        font-size: 14px;
    }

    .table tr th {
        border: 1px solid #333;
        padding: 4px 5px;
        font-size: 14px;
    }

.page {
    width: 23cm;
    min-height: 29.7cm;
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.page1 {
    width: 800px;
    min-height: 29.7cm;
    margin-top: 0px;
    border-radius: 0px;
    position: relative;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}

.rotated {
    transform: rotate(-6deg); /* Equal to rotateZ(45deg) */
}

.uploadSignStamp {
    width: 26cm;
    margin-top: 20px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
    font-weight: bold;
}

.fileinput {
    width: 100%;
}

.logo {
    margin-top: 10px;
}

.footerFont {
    font-size: 11px;
    font-weight: bold;
}

.tabletd tr td {
    font-size: 12px;
}

@page {
    size: A4;
}

.padding {
    padding-left: 20px;
    padding-right: 20px;
}

.heirarchylist div {
    width: 300px;
    padding: 12px 0px;
    background: #1a3687;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

    .heirarchylist div:last-child {
        margin-bottom: 0px;
    }

    .heirarchylist div:after {
        content: "";
        position: absolute;
        top: 44px;
        left: 50%;
        transform: translateX(-50%);
        height: 30px;
        background: #1a3687;
        width: 1px;
    }

    .heirarchylist div:last-child:after {
        height: 0px;
        background: transparent;
        width: 0px;
    }

@media print {
    .padding {
        padding-left: 0px;
        padding-right: 0px;
    }

    .print-none {
        display: none;
    }

    #btnFinalSubmit {
        display: none;
    }

    #toast-container {
        display: none;
    }

    .logo {
        margin-top: 0px;
    }

    .uploadSignStamp {
        display: none;
    }

    .page1 {
        width: 800px;
        margin-top: auto;
        border-radius: 0px;
        position: relative;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0);
    }

    .page {
        width: 800px;
        min-height: 29.7cm;
        margin-top: auto;
        border-radius: 0px;
        position: relative;
        background: #fff;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0);
    }

    .coverFooter {
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;
    }

    .coverFooter1 {
        display: block;
        position: fixed;
        bottom: 5px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .print-button {
        display: none;
    }
}

.print-button {
    height: 50px;
    width: 50px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    background: green;
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 100%;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.21) !important;
}

    .print-button i {
        font-size: 30px !important;
    }

    .print-button:hover {
        cursor: pointer;
    }

.form-control {
    width: 68%;
    padding-left: 10px;
}

.control-label {
    margin-bottom: 10px;
    display: block;
}

.text-box {
    height: 31px;
}

.greenbg {
    background: #25D366;
    color: #fff;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

    .greenbg:hover {
        color: #fff;
    }

ol li {
    margin-top: 5px;
}

ul li {
    margin-top: 5px;
}

ol.o {
    list-style-type: upper-alpha;
}

ol.r {
    list-style-type: upper-roman;
}

.page tbody tr td {
    padding: 24px;
    vertical-align: top;
}
